<section>


    <aside>
        <button routerLink="addCompany">Add Company </button>
        <!-- <button routerLink="updateCompany">Update Company </button> -->
        <!-- <button routerLink="deleteCompany">Delete Company </button> -->
        <button routerLink="getAllCompanies">Get All Companies </button>
        <button routerLink="getOneCompany">Get One Company</button>
        <button routerLink="addCustomer">Add Customer </button>
        <!-- <button routerLink="updateCustomer">Update Customer </button> -->
        <!-- <button routerLink="deleteCustomer">Delete Customer </button> -->
        <button routerLink="getAllCustomers">Get All Customers </button>
        <button routerLink="getOneCustomer">Get One Customer</button>
        <button (click)="logout()">Logout</button>


    </aside>
    <main>
        <router-outlet>

        </router-outlet>

    </main>
   
</section>